@charset "UTF-8";

#register-title {
	font-size: 20pt;
	font-weight: bold;
}

#registerFrm {
	margin-bottom: 50px;
}

#buttons {
	float: right;
}

.border-line-box {
    border-bottom: 1px solid #b5b5b5;
}