@charset "UTF-8";

#contentsWrap {	
	width: 1080px;
	margin: 0 auto;
}

#leture-title {
	font-size: 20pt;
	font-weight: bold;
}

#lecture-youtube {
	margin: 50px 0;
}

#comContent {
	resize: none;
	width: 1000px;
	height: 70px;
}

#btnCommentOK {
	float: right;
	margin-top: 25px;
}

#goList {
	padding: 5px;
	margin-right: 20px;
}

.lecture-comment {
	margin: 20px 0;
}

#commentDisplay {
	margin: 100px 0;
}

#buttons {
    display: flex;
    justify-content: center; /*가로에서 가운데에 요소(자식요소)를 배치하겠다*/
	margin: 50px 0 100px 0;
}

a:link { color: gray; text-decoration: none; }
a:active { color: gray; text-decoration: none; }
a:visited { color: gray; text-decoration: none; }
